<nav class=" border-gray-200 px-2 sm:px-4 py-2.5 rounded bg-gray-900">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="/" class="flex items-center">
        <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
    </a>
    <button (click)="toggleHamburger()" data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
    <div class=" w-full md:block md:w-auto" id="navbar-default" [hidden]="!hamburgerOpen">
      <ul class="flex flex-col p-4 mt-4  rounded-lg border  md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0  bg-gray-800 md:bg-gray-900 border-gray-700">

        <li>
          <a (click)="onHamburgerItemClick()" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="block mt-3 py-2 pr-4 pl-3  bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 text-white" aria-current="page">Home</a>
        </li>
        <li>
          <a (click)="onHamburgerItemClick()" routerLink="/watchlist"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="block py-2 mt-3 pr-4 pl-3  bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 text-white">My Watchlist</a>
        </li>
        <li>
          <a (click)="onHamburgerItemClick()" routerLink="/watched"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="block py-2 mt-3 pr-4 pl-3  bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 text-white">Watched Movies</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
