.name {
  margin: 0 0 1.4rem;
  font-size: 2.8rem;
  line-height: 1.1;
  color: #fff;
  letter-spacing: .4px;
  cursor: pointer;
}

.material-icons {
  color:yellow;
}

.backdrop {
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,0.4514180672268907) 100%);
}

.image {

  mask-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4682247899159664) 100%);
   -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 30%);
}
